.table-block {
  display: table;
  width: 100%;
  height: 100%;
}
.block-vertical {
  display: table-cell;
  vertical-align: middle;
}
b,
strong {
  font-family: 'PtSansBold';
}
body {
  font-family: 'PtSans';
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  width: 1020px;
  margin: auto;
}
.logo {
  height: 100px;
  float: left;
  width: 205px;
}
.top-list {
  float: left;
  width: 650px;
  padding: 15px 50px;
}
.top-item {
  float: left;
  text-align: center;
}
.top-item a {
  font-size: 14px;
  color: #42698c;
}
.telephone {
  float: left;
  width: 125px;
  height: 100px;
}
.telephone .tel {
  font-size: 16px;
  font-family: 'PtSansBold';
  margin-bottom: 7px;
}
.get-order-link {
  display: block;
  text-align: center;
  width: 100%;
  height: 35px;
  line-height: 35px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background: #cc1e1f;
  font-size: 14px;
}
.top-item-img {
  height: 30px;
}
.top-item-inner {
  height: 70px;
  padding-left: 25px;
  padding-right: 25px;
}
.top-item-inner:hover {
  background-color: #eff2f5;
}
.label-number {
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  color: #fff;
  background: #42698c;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  top: -2px;
}
.nav {
  background: #42698c;
  height: 55px;
}
.nav-menu {
  float: left;
  width: 50%;
}
.nav-menu li {
  float: left;
  font-size: 18px;
}
.nav-menu li a {
  display: block;
  padding: 0 19px;
  height: 55px;
  color: #fff;
}
.nav-menu li a:hover {
  background: #36546e;
}
.nav-menu li img {
  position: relative;
  top: 2px;
}
.search {
  float: left;
  width: 50%;
  padding: 8px 0 8px 25px;
  position: relative;
}
.search-input {
  display: block;
  width: 100%;
  background: #758a9d;
  border: 0;
  outline: 0;
  height: 38px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding-left: 15px;
  font-size: 14px;
  font-family: 'PtSans';
  color: #fff;
  padding-right: 45px;
}
.search-input::-webkit-input-placeholder {
  color: #fff;
}
.search-input::-moz-placeholder {
  color: #fff;
}
.search-input:-moz-placeholder {
  color: #fff;
}
.search-input:-ms-input-placeholder {
  color: #fff;
}
.s-search {
  position: absolute;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: block;
  width: 17px;
  z-index: 2;
  top: 50%;
  margin-top: -8.5px;
  right: 20px;
  height: 17px;
  background: url(../images/search-icon.png) no-repeat;
}
.filter {
  background: #eff2f5;
  font-size: 14px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.filter-item {
  margin-bottom: 10px;
  padding-left: 110px;
  position: relative;
}
.filter-item:last-child {
  margin-bottom: 25px;
}
.filter-name {
  width: 110px;
  position: absolute;
  top: 4px;
  left: 0;
  z-index: 2;
  text-align: right;
  font-size: 14px;
}
.filter-tag {
  padding-left: 15px;
}
.filter-tag a {
  color: #42698c;
  display: inline-block;
  vertical-align: middle;
  padding: 4px 9px;
  margin-bottom: 3px;
}
.filter-tag a.active {
  background: #42698c;
  color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.bottom-link-filter .left-block {
  float: left;
}
.bottom-link-filter .right-block {
  float: right;
}
.hidden-filter {
  display: inline-block;
  position: relative;
  font-size: 13px;
  color: #a0b2c3;
}
.hidden-filter.active:after {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.hidden-filter:after {
  position: absolute;
  content: "";
  width: 11px;
  height: 7px;
  display: block;
  z-index: 2;
  right: -15px;
  top: 4px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  background: url(../images/hidden-arrow.png) no-repeat;
}
.reset-btn {
  display: block;
  width: 100px;
  height: 35px;
  line-height: 35px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  background: #d9dee3;
  font-size: 16px;
  color: #42698c;
  position: relative;
  top: -7px;
}
.breadcrumb {
  font-size: 13px;
  color: #a0b2c3;
  padding: 25px 0;
}
.breadcrumb li {
  float: left;
  position: relative;
  padding-right: 25px;
}
.breadcrumb li:last-child:after {
  content: none;
}
.breadcrumb li:after {
  content: "";
  width: 5px;
  height: 7px;
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 3px;
  background: url(../images/bread-arrow.png) no-repeat;
}
.breadcrumb li a {
  color: #42698c;
}
.result-title {
  margin-bottom: 15px;
}
.result-title .left-block {
  float: left;
}
.result-title .right-block {
  float: right;
}
.result-title .name {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-family: 'PtSansBold';
  text-transform: uppercase;
}
.result-title .info-result {
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
  color: #b6c2cf;
  padding-left: 5px;
}
.result-title .info-result.inner-info {
  color: #a0b2c3;
  font-family: 'PtSansBold';
}
.sorting {
  font-size: 14px;
}
.sorting .left-sort,
.sorting .right-sort {
  display: inline-block;
  vertical-align: middle;
}
.sorting span {
  display: inline-block;
  vertical-align: middle;
}
.sorting .price {
  position: relative;
  padding-right: 15px;
  margin-right: 20px;
}
.sorting .price:after {
  content: "";
  display: block;
  background: url(../images/price-arrow.png) no-repeat;
  width: 11px;
  height: 7px;
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 10px;
}
.sorting a {
  color: #42698c;
  display: inline-block;
  vertical-align: middle;
  padding: 6px 8px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.sorting a.active {
  background-color: #42698c;
  color: #fff;
}
.sorting .tile {
  background: url(../images/tile-grey.png) no-repeat 8px 50%;
  padding-left: 30px;
}
.sorting .tile.active {
  background: #42698c url(../images/tile.png) no-repeat 8px 50%;
}
.sorting .in-map {
  padding-left: 30px;
  background: url(../images/in-map.png) no-repeat 8px 50%;
}
.sorting .in-map.active {
  background: #42698c url(../images/gps-white.png) no-repeat 8px 50%;
}
.result-filter {
  background: #eff2f5;
  font-size: 13px;
  padding: 8px 10px;
}
.result-filter a {
  color: #42698c;
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
}
.result-filter a.active {
  position: relative;
}
.result-filter a.active span {
  position: relative;
  padding-right: 15px;
}
.result-filter a.active span:after {
  content: "";
  display: block;
  background: url(../images/price-arrow.png) no-repeat;
  width: 11px;
  height: 7px;
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 5px;
}
.objects {
  margin-left: -20px;
  margin-bottom: 30px;
}
.object-item-inner {
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
.object-item-inner .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  background: rgba(66, 105, 140, 0.65) url(../images/object-zoom.png) no-repeat 50%;
}
.object-item-inner .price {
  position: absolute;
  z-index: 2;
  color: #fff;
  left: 20px;
  bottom: 15px;
}
.object-item-inner .prev {
  font-size: 13px;
  text-decoration: line-through;
  margin-bottom: 5px;
}
.object-item-inner .today {
  font-family: 'PtSansBold';
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
.object-item-inner .sale {
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  color: #cc1e1f;
  background: #fff;
  padding: 5px 3px;
  margin-left: 5px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.object-item-inner:hover {
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.23);
}
.object-item-inner:hover .mask {
  opacity: 1;
  visibility: visible;
}
.object-item {
  float: left;
  width: 25%;
  margin-top: 20px;
  padding-left: 20px;
}
.object-img {
  position: relative;
  height: 175px;
  background-repeat: no-repeat;
  background-position: 50%;
  -o-background-size: cover;
  background-size: cover;
}
.object-desc {
  height: 140px;
  background: #eff2f5;
  padding: 0 15px;
}
.object-name {
  height: 70px;
  font-size: 16px;
  color: #42698c;
  font-family: 'PtSansBold';
  line-height: 1.2;
}
.object-list {
  font-size: 13px;
  color: #a0b2c3;
  line-height: 1.5;
}
.object-list > div {
  padding-left: 20px;
}
.object-list .gps {
  background: url(../images/object-gps.png) no-repeat 0 3px;
}
.object-list .adress {
  background: url(../images/object-adress.png) no-repeat 0 2px;
}
.object-list .metro {
  background: url(../images/metro.png) no-repeat 0 5px;
}
.pagination {
  margin-bottom: 25px;
}
.pagination .view {
  float: right;
}
.pagination .view a {
  color: #42698c;
}
.pagination .view a:after {
  content: "";
  width: 11px;
  height: 7px;
  background: url(../images/price-arrow.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}
.pag-list {
  font-size: 14px;
  float: left;
}
.pag-list li {
  float: left;
  margin-right: 6px;
}
.pag-list a {
  padding: 0 10px;
  text-align: center;
  display: block;
  line-height: 28px;
  color: #42698c;
  background: #eff2f5;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.pag-list a:hover {
  background-color: #cc1e1f;
  color: #fff;
}
.pag-list .pag-prev {
  height: 28px;
  width: 28px;
  background: #eff2f5 url(../images/pag-prev.png) no-repeat 50%;
}
.pag-list .pag-prev:hover {
  background: #cc1e1f url(../images/pag-prev-active.png) no-repeat 50%;
}
.pag-list .pag-next {
  height: 28px;
  width: 28px;
  background: #eff2f5 url(../images/pag-next.png) no-repeat 50%;
}
.pag-list .pag-next:hover {
  background: #cc1e1f url(../images/pag-next-active.png) no-repeat 50%;
}
.subscribe {
  margin-bottom: 40px;
}
.subscribe .text {
  float: left;
  width: 60%;
  font-size: 14px;
  padding-top: 9px;
}
.sub-form {
  float: right;
  width: 40%;
  position: relative;
  padding-right: 140px;
}
.sub-form input[type="text"] {
  display: block;
  width: 100%;
  outline: 0;
  border: 2px solid #b6c2cf;
  height: 30px;
  background: #eff2f5;
  padding-left: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.sub-form input[type="submit"] {
  display: block;
  width: 135px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  height: 30px;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding-left: 15px;
  background: #cc1e1f url(../images/sub-arrow.png) no-repeat 14%;
}
.seo {
  background: #eff2f5;
  padding: 35px 0;
}
.seo-wrapp .title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'PtSansBold';
  font-size: 20px;
  margin-bottom: 25px;
}
.seo-text {
  overflow: hidden;
  height: 200px;
  margin-bottom: 10px;
}
.seo-text p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
}
.more-text-block {
  position: relative;
  text-align: center;
}
.more-text-block:before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  height: 49px;
  background: url(../images/visible.png) no-repeat;
  top: -75px;
}
.more-text {
  font-size: 14px;
  color: #42698c;
}
.item-title {
  font-size: 20px;
  font-family: 'PtSansBold';
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
.partners {
  padding-top: 40px;
}
.partner-block {
  text-align: center;
  height: 140px;
}
.partners-carousel {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}
.partners-carousel img {
  opacity: 0.7;
}
.partners-carousel img:hover {
  opacity: 1;
}
.partners-carousel .btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  margin-top: -11px;
  cursor: pointer;
}
.partners-carousel .prev {
  left: 0;
}
.partners-carousel .next {
  right: 0;
}
.footer {
  background: #42698c;
  padding: 35px 0;
}
.foot-menu {
  float: left;
  width: 50%;
}
.foot-menu ul {
  float: left;
  width: 50%;
}
.foot-menu ul li {
  margin-bottom: 5px;
}
.foot-menu ul a {
  color: #fff;
  font-size: 14px;
}
.foot-menu ul a:hover {
  text-decoration: underline;
}
.foot-sub {
  float: left;
  width: 50%;
  padding-left: 95px;
}
.foot-sub .title {
  text-transform: uppercase;
  color: #fff;
  font-size: 21px;
  margin-bottom: 15px;
}
.foot-form .input-block {
  margin-bottom: 8px;
}
.foot-form input[type="text"] {
  display: block;
  width: 100%;
  height: 28px;
  padding-left: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  background: #758a9d;
  color: #fff;
  font-family: 'PtSans';
}
.foot-form input[type="text"]::-webkit-input-placeholder {
  color: #fff;
}
.foot-form input[type="text"]::-moz-placeholder {
  color: #fff;
}
.foot-form input[type="text"]:-moz-placeholder {
  color: #fff;
}
.foot-form input[type="text"]:-ms-input-placeholder {
  color: #fff;
}
.foot-form input[type="submit"] {
  display: block;
  width: 100%;
  height: 65px;
  padding-left: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  color: #42698c;
  background: #fff url(../images/foot-arrow.png) no-repeat 10%;
  font-size: 16px;
  font-family: 'PtSans';
  cursor: pointer;
}
.foot-form .left-block {
  float: left;
  width: 50%;
}
.foot-form .right-block {
  float: right;
  width: 45%;
}
.select {
  position: relative;
}
.slct {
  display: block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #758a9d url(../images/st.png) no-repeat 95%;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 27px;
  color: #fff;
  font-size: 14px;
  height: 28px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.drop {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #758a9d;
  border-top: none;
  display: none;
  position: absolute;
  font-size: 14px;
  z-index: 10;
}
.drop li {
  list-style: none;
  cursor: pointer;
  display: block;
  color: #fff;
  padding: 4px 15px 4px 15px;
}
.drop li:hover {
  background-color: #ccc;
}
.post {
  font-size: 14px;
}
.post h2 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'PtSansBold';
  color: #000;
  margin-bottom: 20px;
}
.post h4 {
  font-family: 'PtSansBold';
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}
.post ul {
  margin-bottom: 20px;
}
.post ul li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 5px;
}
.post ul li:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background: #42698c;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 6px;
}
.post p {
  margin-bottom: 15px;
}
.post a {
  color: #42698c;
}
.post a:hover {
  text-decoration: underline;
}
.post ol {
  margin-bottom: 20px;
  counter-reset: num;
  list-style-type: none;
}
.post ol li {
  margin-bottom: 5px;
  padding-left: 10px;
}
.post ol li:before {
  content: counter(num) '. ';
  counter-increment: num;
  color: #42698c;
}
.post table {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.post table td {
  height: 40px;
  vertical-align: middle;
  border-bottom: 1px solid #c6d0d9;
  border-left: 1px solid #c6d0d9;
}
.post table td:last-child {
  border-right: 1px solid #c6d0d9;
}
.post table thead td {
  background: #42698c;
  font-family: 'PtSansBold';
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}
.post-wrapp {
  float: left;
  width: 77%;
  color: #000;
  line-height: 1.2;
  padding-right: 25px;
}
.post-wrapp img {
  float: left;
  margin: 0 15px 5px 0;
}
.sidebar {
  float: left;
  width: 23%;
}
.side-menu {
  background: #eff2f5;
  padding: 25px 15px;
  margin-bottom: 20px;
}
.side-menu li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}
.side-menu li:last-child {
  margin-bottom: 0;
}
.side-menu li:before {
  content: "";
  background: url(../images/side-menu.png) no-repeat;
  display: block;
  width: 9px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 5px;
}
.side-menu a {
  color: #42698c;
}
.post .side-menu {
  background: #eff2f5;
  padding: 25px 15px;
  margin-bottom: 20px;
}
.post .side-menu li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}
.post .side-menu li:last-child {
  margin-bottom: 0;
}
.post .side-menu li:before {
  content: "";
  background: url(../images/side-menu.png) no-repeat;
  display: block;
  width: 9px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 5px;
}
.post .side-menu a {
  color: #42698c;
}
.card {
  margin-top: 30px;
}
.card-slider {
  float: left;
  width: 50%;
  padding-right: 10px;
}
.thumb {
  margin-top: 20px;
  margin-left: -8px;
}
.thumb a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-left: 8px;
  margin-bottom: 8px;
}
.thumb a.active:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.card-desc {
  float: left;
  width: 50%;
  padding-left: 10px;
}
.card-desc p {
  line-height: 1.2;
  font-size: 14px;
}
.card-desc a {
  font-size: 14px;
}
.card-desc .discount {
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 13px;
  color: #cc1e1f;
  font-family: 'PtSansBold';
  background: #eff2f5;
  margin-left: 5px;
}
.card-desc .prev {
  text-decoration: line-through;
  font-size: 16px;
  margin-bottom: 10px;
}
.today-price {
  font-size: 16px;
  color: #cc1e1f;
  font-family: 'PtSansBold';
}
.today-price span {
  font-size: 20px;
}
.ques {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  font-size: 11px;
  color: #42698c;
  background: #eff2f5;
  text-align: center;
  line-height: 15px;
  margin: 0 5px;
}
.price-order {
  float: left;
  width: 50%;
  padding-right: 10px;
}
.price-order .text {
  font-size: 13px;
  color: #a0b2c3;
  line-height: 1.2;
  margin-bottom: 10px;
}
.price-order .get-order {
  display: block;
  height: 45px;
  line-height: 45px;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #cc1e1f;
  font-size: 17px;
  margin-bottom: 12px;
  width: 95%;
}
.action {
  font-size: 14px;
  float: left;
  width: 50%;
  padding-left: 10px;
}
.action a {
  color: #42698c;
}
.action a:hover {
  text-decoration: underline;
}
.action li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 40px;
  min-height: 20px;
}
.action img {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: -2px;
  z-index: 2;
}
.district {
  background: #eff2f5;
  padding: 25px;
  font-size: 13px;
  color: #000;
  line-height: 1.2;
  margin-bottom: 20px;
}
.district ul {
  float: left;
  width: 50%;
}
.district ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}
.district ul li:before {
  content: none;
}
.district ul img {
  position: absolute;
  left: 0;
  top: 2px;
  z-index: 2;
}
.card-desc-top {
  margin-bottom: 30px;
}
.information {
  width: 15px;
  height: 15px;
  display: block;
  cursor: pointer;
  background: url(../images/i.png) no-repeat;
  margin-left: 5px;
}
.information:hover + .tooltip {
  opacity: 1;
  visibility: visible;
  top: -115px;
}
.more-info {
  margin-bottom: 20px;
}
.review .title {
  margin-bottom: 10px;
}
.review h4 {
  float: left;
  padding-top: 7px;
}
.review .get-review {
  display: block;
  float: right;
  width: 115px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #42698c;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}
.review-item {
  background: #eff2f5;
  padding: 15px;
  margin-bottom: 20px;
}
.review-item .col-xs-4 {
  float: left;
  width: 33.3%;
  text-align: center;
  font-size: 14px;
  color: #a0b2c3;
}
.review-item .name {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  font-family: 'PtSansBold';
  text-transform: uppercase;
}
.review-item .date {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 5px;
  font-size: 10px;
  color: #afbecb;
  font-family: 'PtSansBold';
  text-transform: uppercase;
}
.review-title {
  margin-bottom: 10px;
}
.view-all-review {
  text-align: center;
  margin-bottom: 35px;
}
.view-all-review .number {
  width: 28px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 20px;
  color: #a0b2c3;
  font-size: 10px;
  font-family: 'PtSansBold';
  background: #eff2f5;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: 5px;
}
.view-all-review .link {
  position: relative;
  color: #42698c;
  font-size: 14px;
  display: inline-block;
  padding-left: 35px;
  vertical-align: middle;
}
.view-all-review .link:before {
  content: "";
  background: url(../images/review-all.png) no-repeat;
  width: 21px;
  height: 19px;
  display: block;
  position: absolute;
  z-index: 2;
  left: 0;
  top: -3px;
}
.offers .item {
  padding-left: 20px;
}
.offers .item-title {
  text-align: left;
  margin-bottom: 20px;
}
.offers-carousel {
  margin-left: -20px;
  position: relative;
}
.offers-carousel .next-btn {
  cursor: pointer;
  position: absolute;
  top: -45px;
  z-index: 2;
  right: 0;
}
.offers-carousel .prev-btn {
  cursor: pointer;
  position: absolute;
  top: -45px;
  z-index: 2;
  right: 35px;
}
.big-map {
  margin: 20px 0;
}
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10500;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background: rgba(85, 120, 151, 0.8);
}
.modal .close {
  background: none;
  outline: 0;
  border: 0;
  position: absolute;
  z-index: 2;
  right: -45px;
  top: 0;
  cursor: pointer;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out, -moz-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out, -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out, -moz-transform 0.3s ease-out, -o-transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  -moz-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: 420px;
  margin: 100px auto;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  padding: 40px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-title {
  text-transform: uppercase;
  font-family: 'PtSansBold';
  font-size: 20px;
  color: #000;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 25px;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.modal-input-block {
  margin-bottom: 10px;
}
.modal-input-block:last-child {
  margin-bottom: 0;
}
.modal-input-block input[type="text"] {
  display: block;
  width: 100%;
  height: 30px;
  color: #000;
  font-family: 'PtSans';
  padding-left: 10px;
  border: 2px solid #b6c2cf;
  background: #eff2f5;
  outline: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.modal-input-block input[type="text"]::-webkit-input-placeholder {
  color: #000;
}
.modal-input-block input[type="text"]::-moz-placeholder {
  color: #000;
}
.modal-input-block input[type="text"]:-moz-placeholder {
  color: #000;
}
.modal-input-block input[type="text"]:-ms-input-placeholder {
  color: #000;
}
.modal-input-block textarea {
  resize: none;
  display: block;
  width: 100%;
  height: 90px;
  color: #000;
  font-family: 'PtSans';
  padding-left: 10px;
  border: 2px solid #b6c2cf;
  background: #eff2f5;
  outline: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding-top: 5px;
}
.modal-input-block textarea::-webkit-input-placeholder {
  color: #000;
}
.modal-input-block textarea::-moz-placeholder {
  color: #000;
}
.modal-input-block textarea:-moz-placeholder {
  color: #000;
}
.modal-input-block textarea:-ms-input-placeholder {
  color: #000;
}
.modal-submit {
  display: block;
  width: 125px;
  height: 35px;
  float: right;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  font-family: 'PtSans';
  background: #cc1e1f;
  outline: 0;
  border: 0;
  cursor: pointer;
}
.tablet-btn {
  cursor: pointer;
  outline: 0;
  border: 0;
  background: transparent;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 50%;
  margin-top: -11.5px;
}
.mobile-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(66, 105, 140, 0.9);
  overflow: hidden;
  display: none;
}
.mobile-nav-wrapp {
  width: 360px;
  height: 100%;
  background: #fff;
  position: relative;
  padding: 35px;
  left: -405px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mobile-nav-wrapp.active {
  left: 0;
  -webkit-transition-delay: 0.45s;
  -moz-transition-delay: 0.45s;
  -o-transition-delay: 0.45s;
  transition-delay: 0.45s;
}
.mobile-nav-wrapp .close-menu {
  position: absolute;
  top: 15px;
  right: -45px;
  z-index: 2;
}
.mobile-nav-wrapp li {
  position: relative;
  padding-left: 45px;
  height: 40px;
}
.mobile-nav-wrapp li.enter img {
  top: -6px;
}
.mobile-nav-wrapp li img {
  position: absolute;
  left: 0;
  top: -2px;
  z-index: 2;
}
.mobile-nav-wrapp a {
  color: #42698c;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}
.mobile-nav-wrapp a:hover {
  text-decoration: underline;
}
.mobile-btn {
  background: transparent;
  outline: 0;
  border: 0;
  float: right;
  cursor: pointer;
  position: relative;
  top: 8px;
  left: 0;
  z-index: 10001;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.mobile-btn.active {
  left: 25px;
}
.tablet {
  padding-top: 30px;
}
.telephone-nav .tel {
  font-size: 22px;
  font-family: 'PtSansBold';
  margin-bottom: 25px;
}
.mobile-filter {
  padding-bottom: 20px;
}
.mobile-filter-item {
  margin-bottom: 10px;
}
.mobile-filter-item .slct {
  border: 2px solid #b6c2cf;
  background: #fff url(../images/price-arrow.png) no-repeat 98%;
  font-size: 14px;
  color: #000;
  height: 35px;
  line-height: 33px;
}
.mobile-filter-item .slct.active {
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.mobile-filter-item .drop {
  background: #fff;
  border: 2px solid #b6c2cf;
  border-top: 0;
}
.mobile-filter-item .drop li {
  color: #000;
}
.mobile-map-item {
  margin-bottom: 20px;
}
.mobile-table {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
}
.mobile-table .table-item:nth-child(2n) {
  background: #eff2f5;
}
.mobile-table .table-item:last-child {
  border-bottom: 1px solid #c6d0d9;
}
.mobile-table .left-block {
  float: left;
  width: 50%;
  height: 40px;
  border: 1px solid #c6d0d9;
  border-bottom: 0;
  font-family: 'PtSansBold';
}
.mobile-table .right-block {
  float: left;
  width: 50%;
  height: 40px;
  border: 1px solid #c6d0d9;
  border-left: 0;
  border-bottom: 0;
}
.tooltip {
  padding: 20px;
  width: 235px;
  background: #fff;
  z-index: 10;
  position: absolute;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
  right: -197px;
  height: 105px;
  line-height: 1.2;
  top: -145px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tooltip:after {
  content: "";
  width: 22px;
  height: 13px;
  background: url(../images/tooltip-arrow.png) no-repeat;
  bottom: -10px;
  left: 20px;
  display: block;
  position: absolute;
}
.tooltip-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
