@media(min-width: 1041px){
	.tablet-btn{
		display: none !important;
	}
	.tablet{
		display: none !important;
	}
}
@media(max-width: 1040px){
	.container{
		width: 100%;
	}
	.nav-wrapp{
		position: relative;
		padding-left: 35px;
	}
	.nav-menu{
		display: none;
	}
	.search{
		float: none;
		width: 100%;
	}
	.hidden-tablet{
		display: none !important;
	}
	.main-header-wrapp{
		position: relative;
		padding-left: 205px;
		padding-right: 125px;
		height: 100px;
	}
	.logo{
		float: none;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
	}
	.telephone{
		float: none;
		right: 0;
		top: 0;
		z-index: 2;
		position: absolute;
	}
	.top-list{
		float: none;
		width: 100%;
		text-align: center;
		padding: 15px;
	}
	.top-item{
		float: none;
		display: inline-block;
		vertical-align: middle;
	}
	.object-item{
		width: 33.3%;
	}
	.result-title .left-block,
	.result-title .right-block{
		float: none;
	}
	.result-title .left-block{
		margin-bottom: 15px;
	}
	.sorting .left-sort{
		float: left;
	}
	.sorting .right-sort{
		float: right;
	}
	.subscribe .text{
		float: none;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.sub-form{
		float: none;
		width: 390px;
		margin: auto;
	}
	.foot-menu,
	.foot-sub{
		float: none;
		width: 100%;
	}
	.foot-menu{
		margin-bottom: 50px;
	}
	.foot-sub{
		padding-left: 0;
	}
	.foot-sub .title{
		text-align: center;
	}
	.foot-form input[type="submit"],
	.foot-form .right-block{
		width: 180px;
		height: 80px;
	}
	.foot-form .right-block{
		float: none;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
	}
	.foot-form .left-block{
		float: none;
		width: 100%;
	}
	.foot-form{
		position: relative;
		padding-right: 200px;
		min-height: 80px;
	}
	.foot-form input[type="text"],
	.slct{
		height: 36px;
		line-height: 36px;
	}
	.slct{
		background-position: 98%;
	}
	.price-order{
		float: none;
		width: 100%;
		padding-right: 0;
		margin-bottom: 20px;
	}
	.action{
		padding-left: 0;
		float: none;
		width: 100%;
	}
	.district ul{
		float: none;
		width: 100%;
	}
	.desktop{
		display: none;
	}
	.post-wrapp{
		float: none;
		width: 100%;
		padding-right: 0;
	}
	.sidebar{
		float: none;
		width: 100%;
	}
	.side-menu{
		float: left;
		width: 47%;
	}
	.banner{
		float: right;
		width: 47%;
	}
}

@media(max-width: 767px){
	.object-item{
		width: 50%;
	}
	.top-item-inner{
		padding-left: 10px;
		padding-right: 10px;
	}
	.more-text-block:before{
		top: -60px;
	}
}
@media(min-width: 601px){
	.mobile-btn,
	.mobile-filter,
	.mobile-nav-wrapp .geo,
	.mobile-nav-wrapp .enter,
	.telephone-nav,
	.mobile-map-item,
	.mobile-table{
		display: none !important;
	}
}
@media(max-width: 600px){
	.result-filter a{
		display: block;
		margin-bottom: 10px;
		margin-right: 0;
	}
	a.get-order-link{
		width: 170px;
		height: 45px;
		color: #fff;
		line-height: 45px;
		font-size: 17px;
		margin-bottom: 30px;
		display: block;
		text-decoration: none !important;
	}
	.mobile-nav-wrapp{
		width: 100%;
	}
	.mobile-nav-wrapp{
		height: 90%;
	}
	.close-menu{
		display: none !important;
	}
	.top-item,
	.tablet-btn,
	.telephone{
		display: none;
	}
	.search,
	.nav-wrapp{
		padding-left: 0;
	}
	.main-header-wrapp{
		padding-right: 0;
	}
	.sorting .left-sort,
	.sorting .right-sort{
		float: none;
		display: block;
	}
	.sorting .left-sort{
		margin-bottom: 20px;
	}
	.pag-list,
	.pagination .view{
		float: none;
	}
	.pag-list{
		margin-bottom: 25px;
	}
	.foot-menu ul{
		float: none;
		width: 100%;
	}
	.foot-form{
		padding-right: 0;
	}
	.foot-form .right-block{
		position: relative;
		z-index: 1;
	}
	.foot-form input[type="submit"], 
	.foot-form .right-block{
		width: 100%;
		height: 55px;
	}
	.foot-form input[type="submit"]{
		background-position: 30%;
	}
	.sub-form{
		width: 100%;
		padding-right: 0;
	}
	.sub-form input[type="submit"]{
		position: relative;
		margin: auto;
		margin-top: 20px;
	}
	.mobile-nav-wrapp{
		left: -100%;
	}
	.mobile-nav-wrapp.active{
		left: 0;
	}
	.main-header{
		overflow: hidden;
	}
	.desktop-filter{
		display: none;
	}
	.card-slider{
		width: 100%;
		float: none;
		padding-right: 0;
		margin-bottom: 15px;
	}
	.map-item{
		display: none !important;
	}
	.card-desc{
		float: none;
		width: 100%;
		padding-left: 0;
	}
	.offers-arrow{
		text-align: center;
		padding-top: 20px;
	}
	.offers-carousel .next-btn{
		position: relative;
		top: 0;
		display: inline-block;
		vertical-align: middle;
		width: 28px;
		height: 27px;
	}
	.offers-carousel .prev-btn{
		position: relative;
		top: 0;
		display: inline-block;
		vertical-align: middle;
		width: 28px;
		height: 27px;
		right: 0;
	}
	.post-wrapp img{
		text-align: center;
		float: none;
		display: block;
	}
	.side-menu{
		float: none;
		width: 100%;
	}
	.banner{
		float: none;
		width: 100%;
		text-align: center;
	}
	.hidden-xs{
		display: none !important;
	}
}

@media(max-width: 450px){
	.object-item{
		width: 100%;
	}
	.more-text-block:before{
		top: -50px;
	}
	.modal .close{
		display: none;
	}
	.modal-dialog{
		width: 315px;
	}
	.modal-input-block input[type="text"].name-input {
    background-position: 31% 8px;
	}
	.modal-input-block input[type="text"].email-input {
    background-position: 22% 8px;
	}
	.modal-input-block input[type="text"].tel-input {
    background-position: 28% 8px;
	}
	.modal-input-block input[type="text"].my-email {
	  background-position: 34% 8px;
	}
	.modal-input-block input[type="text"].your-email {
    background-position: 52% 8px;
	}
	.modal-input-block textarea.main-text {
    background-position: 41% 9px;
	}
}